/*container one box styling*/
.container-one {
    gap: 10px;
    padding: 10px;
}
.container-one .box {
    flex:1;
}

/*container two box styling*/
.container-two {
    gap: 15px;
    padding: 15px;
}
.container-two .box {
    flex:1;
}

/*container three*/
.container-three {
    gap: 15px;
    padding: 15px;
}
.container-thre .box {
    flex:1;
}

/*container four*/
.container-four {
    gap: 15px;
    padding: 15px;
}
.container-four .box {
    flex:1;
}
.container-four .footer {
    flex:0 0 100%;
}