/* Base box style */
.box {
    height: 50px;
    background-color: #7a7a7a;  
    box-sizing: border-box;
}

    /* Containers are flex containers */
.container-one,
.container-two,
.container-three,
.container-four {
    display: flex;
    flex-wrap: wrap;
    background-color: #bfe3ef;
    border: 6px solid #ffffff;
    margin: 10px 0 30px 0;
    box-sizing: border-box;
}

/*container one box styling*/
.container-one {
    gap: 10px;
    padding: 10px;
}
.container-one .box {
    flex:1;
}

/*container two box styling*/
.container-two {
    gap: 15px;
    padding: 15px;
}
.container-two .box {
    flex:1;
}

/*container three*/
.container-three {
    display: flex;
    gap: 12px;
    padding: 12px;
    flex-wrap: nowrap;
}
.container-three .box {
    flex:1 1 0;
    border: 2px solid #222;
}

.container-three .box.double {
    flex: 2 1 0;
}

/* First column is double width */
.double {
    flex: 2;
}

/*container four*/
.container-four {
    gap: 12px;
    padding: 12px;
}
.container-four .box {
    flex:1;
    border: 2px solid #222;
}
.container-four .footer {
    flex:0 0 100%;
}